*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

#rubymine stuff
.idea
.idea/*.*ml
/**/*.iml
*.iml
.idea/ese2012-team3.iml
.DS_Store
.idea/ese2012-team3.iml
Gemfile.lock

.idea/misc.xml
.idea/modules.xml

/app/public/userimages/*
