<div class="span2">
  <div class="well" id="adminsidebar">
    <ul class="nav nav-list">

      <li
      <% if @current_nav_item == :home %>
      class="active"
      <% end %>
      ><a href="/admin"><i class="icon-home"></i>Admin</a></li>
      
      <li
      <% if @current_nav_item == :delete_auction %>
      class="active"
      <% end %>
      ><a href="/admin/delete_auction"><i class="icon-wrench"></i>Delete auction</a></li>

      <li
      <% if @current_nav_item == :delete_item %>
      class="active"
      <% end %>
      ><a href="/admin/delete_item"><i class="icon-wrench"></i>Delete item</a></li>

      <li
      <% if @current_nav_item == :delete_offer %>
      class="active"
      <% end %>
      ><a href="/admin/delete_offer"><i class="icon-wrench"></i>Delete offer</a></li>

      <li
      <% if @current_nav_item == :delete_user %>
      class="active"
      <% end %>
      ><a href="/admin/delete_user"><i class="icon-wrench"></i>Delete user</a></li>

      <li
      <% if @current_nav_item == :delete_organization %>
      class="active"
      <% end %>
      ><a href="/admin/delete_org"><i class="icon-wrench"></i>Delete organization</a></li>


      <li><a href="/admin/edit_localization"><i class="icon-globe"></i>Edit localization</a></li>


    </ul>
  </div>
</div>
