<% @title = "Marketplace - Delete auction" %>
<section id="content">
<div class="row">
  <%= erb :"admin/_sidebar" %>
  <div class="span10">
    <h1>Delete auction</h1>
    <% if @all_auctions.length > 0 %>
      <form action="/auction/delete" method="POST">
        <fieldset>
          <select name="id_to_delete">
            <% for auction in @all_auctions %>
            <option value="<%= auction.id %>"><%= auction.name[@LANGCODE] %></option>
            <% end %>
          </select>
          <button class="btn btn-danger" type="submit">Delete</button>
        </fieldset>
      </form>
    <% else %>
      <p>There is nothing to delete!</p>
    <% end %>
  </div>
</div>
</section>

