<% @title = "Marketplace - Admin" %>
<section id="content">
<div class="row">
  <%= erb :"admin/_sidebar" %>
  <div class="span10">
    <h1>Welcome to the admin page!</h1>
  </div>
</div>
</section>

