<div class="alert-success alert">
  <%=@LANG["SWITCHED_USER_NOTIFICATION"]%><br />
  <%if session[:organization_id].nil?%>
    <%=@LANG["NOT_REPRESENTING_ORG"]%>
  <%else%>
    <%=@LANG["NOW_REPRESENTING"]%> <%= erb :_user_link, :locals => {:user => Organization.organization_by_id(session[:organization_id].to_i)} %>.
  <%end%>
</div>