<div class="alert-success alert" id="orgcreated">
  <%=@LANG["ORGANIZATION_CREATED_NOTIFICATION"]%> <a href= <%= @current_agent.profile_route %>/settings><%=@LANG["START_ADDING_MEMBERS"]%></a>
</div>
