<% # Parameters (to pass in :locals)
   # * activities to display
   # :identifier - identifier for this list on a page with multiple item lists, used for paging links
   identifier = :activitieslistpage unless identifier
   page = params[identifier] ? params[identifier].to_i : 0
%>

<%= erb :_pages_links, :locals => {:size => activities.size, :per_page => ACTIVITIES_PER_PAGE, :identifier => identifier} %>

<table class="table table-striped" style="width: 66%">
  <% activities.each_with_index do |activity, index| %>
  <% next unless index/ACTIVITIES_PER_PAGE == page %>
      <tr>
        <td> <%= erb :_user_link, :locals => {:user => activity.creator} %>
        </td>
        <td> <%= mdown_to_html(xss activity.message+"\r\r*On #{activity.timestamp.to_s}*") %> </td>
      </tr>
  <%end%>
</table>