<fieldset>

  <%= erb :_text_control, :locals => {:name => :minimal_price, :label => "Minimal price"}%>

  <%= erb :_text_control, :locals => {:name => :increment, :label => "Increment"}%>

  <%= erb :_text_control_id, :locals => {:id => :end_time, :name => :end_time, :label => "End time"}%>

  <div class="form-actions">
    <button class="btn btn-info" type="submit">Save</button>
  </div>
</fieldset>