<table class="table">
  <thead>
  <th>Name</th>
  <th style="text-align: right; padding-right: 10em;">Price</th>
  <th>Owner</th>
  <th></th>
  <th></th>
  </thead>
  <tbody>
  <% for item in items %>
      <tr>
        <td><%= xss(item.name) %></td>
        <td style="text-align: right; padding-right: 10em;"><%= xss item.price %></td>
        <td><%= erb :_user_link, :locals => {:user => item.owner} %></td>
        <td><%= erb :_item_buttons, :locals => {:item => item, :current_user => @current_user} %></td>
      </tr>
  <% end %>
  </tbody>
</table>