<% if !Market::Item.items_by_agent(@current_agent).include?(@item) && @current_user == @current_agent%>
  <td>
    <form action="/item/<%= xss @item.id %> /watchlist" method="POST">
      <% if @current_agent.wishlist.include?(@item) %>
        <input type="submit" class="btn btn-danger small" name="submit" value="Remove from wishlist" />
      <% else %>
        <input type="submit" class="btn btn-info small" name="submit" value="Add to wishlist" />
      <% end %>
    </form>
  </td> 
<% end %>
