<div class="span2">
  <div class="well" style="padding: 8px 0;">
    <ul class="nav nav-list">
      <li><a href="/"><i class="icon-home"></i>Marketplace</a></li>
      <% if @current_user %>
          <li><a href="/all_users"><i class="icon-list"></i>All users</a></li>
          <li><a href='<%= "/profile/#{@current_user.id}" %>'><i class="icon-wrench"></i>My account</a></li>
          <li><a href="/item/create"><i class="icon-plus"></i>Create new item</a></li>
      <% end %>
    </ul>
  </div>
  <% if @current_user %>
  <div style="font-size:0.8em;">
    <p>Logged in as <b><a href='<%= "/profile/#{@current_user.id}" %>'><%= xss @current_user.name %></a></b></p>
    <p>Credits: <%= xss @current_user.credit %></p>
  </div>
  <% end %>
</div>
