<%
# used to create links to Organizations and users.
   %>
  <%if user.kind_of?(User) %>
      <i class="icon-user">
  <%else%>
      <i class="icon-briefcase">
  <%end%>
  </i> <a href="<%= user.profile_route %>"><%= xss user.name %></a>