<%   @title = "Create auction"
%>

<section id="content">
  <div class="row">
    <%= erb :_sidebar %>
    <div class="span10">
      <h2>Create auction</h2>
      <form class="form-horizontal" method="POST" <%= "action=/item/#{item.id}/create_auction"%> enctype="multipart/form-data">
        <%=erb :_create_edit_auction %>

      </form>
</div>
</div>
</section>