<% @title = "Create organization" %>

<section id="content">
  <div class="row">
    <%= erb :_sidebar %>
    <div class="span10">
      <h1>Create Organization</h1>

      <form class="form-horizontal" method="POST" action="/organization/create" enctype="multipart/form-data">
        <fieldset>

          <%= erb :_text_control, :locals => {:name => :name, :label => "Name"}%>

          <%= erb :_image_file_control %>

          <%= erb :_textarea_control, :locals => {:name => :about, :label => "About"}%>

          <div class="form-actions">
            <button class="btn btn-info" type="submit">Create organization</button>
          </div>
        </fieldset>

      </form>
    </div>
  </div>
</section>
