<%
   @title = @LANG["CREATE_NEW_ITEM"]
   @current_nav_item = :new_item
%>

<h2><%=@LANG["CREATE_NEW_ITEM"]%></h2>
<form class="form-horizontal" method="POST" action="/item/create" enctype="multipart/form-data">
  <%= erb :_create_edit_item_offer, :locals => {:offer => true} %>
</form>
