<%
   @title = @LANG["CREATE_NEW_OFFER"]
   @current_nav_item = :new_offer
%>

<h2><%=@LANG["CREATE_NEW_OFFER"]%></h2>
<form class="form-horizontal" method="POST" action="/item/offer" enctype="multipart/form-data">
  <%=erb :_create_edit_item_offer, :locals => {:offer => true} %>
</form>
