<%
   @title = "Create new item"
   @current_nav_item = :new_item
%>

<section id="content">
<div class="row">
  <%= erb :_sidebar %>
  <div class="span10">
    <h1>Create new item</h1>
    <form class="form-horizontal" method="POST" action="/item/create" enctype="multipart/form-data">
      <%=erb :_create_edit_item %>

    </form>
  </div>
</div>
</section>
