<% #Expects in local variable "item" an Item object %>

<%   @title = @LANG["CREATE_AUCTION"] %>

<section id="content">
  <div class="row">
    <%= erb :_sidebar %>
    <div class="span10">
      <h2><%=@LANG["CREATE_AUCTION"]%></h2>
      <form class="form-horizontal" method="POST" <%= "action=/item/#{item.id}/auction/create"%> enctype="multipart/form-data">
        <%=erb :_create_edit_auction %>

      </form>
</div>
</div>
</section>