<% @title = @LANG["DELETE_ACCOUNT_QUESTION"] %>

<h1><%=@LANG["REALLY_DELETE_QUESTION"]%></h1>

<form class="form-horizontal" method="POST" action="/profile/<%= @current_user.id %>">
  <fieldset>
    <div class="form-actions">
      <input type="hidden" name="_method" value="delete"/>
      <button class="btn btn-danger" type="submit"><%=@LANG["DELETE_ACCOUNT"]%></button>
    </div>
  </fieldset>
</form>

<form class="form-horizontal" method="GET" action="/settings">
  <fieldset>
    <div class="form-actions">
      <button class="btn btn-success" type="submit"><%=@LANG["NO_KEEP_IT"]%></button>
    </div>
  </fieldset>
</form>
