<% @title = "#{@LANG["EDIT_AUCTION_FOR"]} #{item.name}" %>

<h2><%=@LANG["EDIT_ITEM_AUCTION"]%></h2>
<form class="form-horizontal" method="POST" action="<%="/item/#{@item.id}/auction/edit" %>" enctype="multipart/form-data">
  <%=erb :_create_edit_auction %>
</form>
