<% @title = (@item.is_offer?) ? @LANG["EDIT_OFFER"] : @LANG["EDIT_ITEM"] %>

<h2><%=@title%></h2>
<form class="form-horizontal" method="POST" action="<%="/item/#{@item.id}/edit"%>" enctype="multipart/form-data">
  <%=erb :_create_edit_item_offer %>
</form>
