<!-- TODO Use inline errors if this resulted from an input error -->
<% @title = "Ooops" %>

<h1><%=@LANG["ERROR"]%></h1>
<div class="alert-error alert">
  <strong><%=@LANG["ERROR"]%></strong><br /><%= xss message.to_string(@LANG) %>
</div>
