<!-- TODO Use inline errors if this resulted from an input error -->
<% @title = "Ooops" %>

<section id="content">
    <div class="row">
      <%= erb :_sidebar %>
      <div class="span10">
        <h1>Error</h1>
        <div class="alert-error alert">
          <strong>Error</strong><br /><%= message %>
        </div>

      </div>
    </div>
</section>
