<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error</title>
    <%= erb :head %>
    <%= erb :libs %>
  </head>
  <body>
    <%= erb :nav %>
    <div class="container">
      <section id="content">
        <div class="row">
          <%= erb :sidebar %>
          <div class="span10">
            <h1>Error</h1>
          </div>
        </div>
      </section>
    </div>

  </body>
</html>
