<!DOCTYPE html>
<html lang="en">
    <head>
      <title><%= @title %></title>

      <script src="/js/libs/jquery-1.7.2.js"></script>
      <script src="/js/libs/getVarFromUrl.js"></script>
      <script src="/bootstrap/js/bootstrap.js"></script>

      <link rel="stylesheet" href="/css/jquery-ui.css" />
      <link href="/css/jquery-ui-timepicker-addon.css" rel="stylesheet" />
      <script src="/js/jquery-ui.js"></script>
      <script src="/js/jquery-ui-timepicker-addon.js"></script>

      <script>
          $(function() {
              $( "#end_time" ).datetimepicker({
                  dateFormat: 'dd.mm.yy',  minDate: new Date()
              });
          });
      </script>

      <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" />
      <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
      <style type="text/css">
        body {
          padding-top: 100px;
          padding-bottom: 40px;
        }
      </style>

      <script type="text/javascript">
        $(document).ready(function(){
          $('.alert').hide();
          $('#'+$.getUrlVar('alert')).show();
        });
      </script>

    </head>
    <body>
        <%= erb :_nav %>
        <div class="container">
          <div class="alert-success alert" id="loggedin">
            <strong>Logged in!</strong><br />You've been logged in successfully!
          </div>
          <div class="alert-success alert" id="registered">
            <strong>Registered!</strong><br />Your account has been successfully created and you have been logged in automatically.
          </div>
          <div class="alert-success alert" id="pwchanged">
            <strong>Password changed!</strong><br />Your password has been successfully changed.
          </div>
          <div class="alert-success alert" id="itembought">
            <strong>Item bought!</strong><br />Your successfully purchased an item.
          </div>
          <div class="alert-success alert" id="orgcreated">
            <strong>Organization created!</strong><br />The organization was successfully created.
          </div>
          <div class="alert-success alert" id="switcheduser">
            <strong>Switched user!</strong><br />
            <%if session[:organization_id].nil?%>
                You are not representing an organization.
            <%else%>
                You are now representing <%= erb :_user_link, :locals => {:user => Organization.organization_by_id(session[:organization_id].to_i)} %>.
            <%end%>
          </div>

          <div class="alert-error alert" id="itemnotyours">
              <strong>Ooops!</strong> You tried to access an item that is not yours
          </div>
          <div class="alert-error alert" id="itemnotexist">
            <strong>Ooops!</strong> You tried to access an item that does not exist
          </div>

          <%= yield %>
        </div>
    </body>
</html>

