<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <%= includeERB('head.erb') %>
  </head>
  <body>
    <%= includeERB('nav.erb') %>
    <div class="container">
      <section id="content">
        <div class="row">
          <%= includeERB('sidebar.erb') %>
          <div class="span10">
            <h1>Login</h1>
            <form class="form-horizontal" method="POST" action="/login">
              <fieldset>
                <div id="cg-username" class="control-group">
                  <label class="control-label" for="nameinput">Username</label>
                  <div class="controls">
                    <input class="input-xlarge" id="nameinput" type="text" name="username" />
                  </div>
                </div>
                <div id="cg-password" class="control-group">
                  <label class="control-label" for="pwinput">Password</label>
                  <div class="controls">
                    <input class="input-xlarge" id="pwinput" type="password" name="password" />
                  </div>
                </div>
                <div class="form-actions">
                  <button class="btn btn-info" type="submit">Login</button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </section>
    </div>

    <%= includeERB('libs.erb') %>
