<% @title = "Marketplace" %>

<section id="content">
<div class="row">
  <%= erb :_sidebar %>
  <div class="span10">
    <h1>Marketplace</h1>

    <%=erb :_item_list, :locals=>{
            :items => @all_items,
            :show_owner => true
    }%>

  </div>
</div>
</section>
