<% @title = "Marketplace" %>

<section id="content">
<div class="row">
  <%= erb :_sidebar %>
  <div class="span10">
    <h1>Marketplace</h1>

    <h3>Followee's Activities</h3>
    <%=erb :_activity_list, :locals=>{:activities => activity_list}%>

    <h3>Items on the Market</h3>
    <%=erb :_item_list, :locals=>{
            :items => @all_items,
            :show_owner => true
    }%>

  </div>
</div>
</section>
