<% @title = "Marketplace" %>

<section id="content">
<div class="row">
  <%= erb :_sidebar %>
  <div class="span10">
    <h1>Marketplace</h1>

    <%if !activity_list.empty? && @current_user == @current_agent%>
        <h3>Followee's Activities</h3>
        <%=erb :_activity_list, :locals=>{:activities => activity_list}%>
    <%end%>

    <h3>Items on the Market</h3>
    <%=erb :_item_list, :locals=>{
            :items => @all_items,
            :show_owner => true
    }%>

  </div>
</div>
</section>
