<%
   @title = "Marketplace"
   @current_nav_item = :marketplace
%>

<section id="content">
<div class="row">
  <%= erb :_sidebar %>
  <div class="span10">
    <h2>Marketplace</h2>

    <%if !activity_list.empty? && @current_user == @current_agent%>
        <h3>Followee's Activities</h3>
        <%=erb :_activity_list, :locals=>{:activities => activity_list}%>
        <h3>Items on the Market</h3>
  <%end%>

    <%=erb :_item_list, :locals=>{
            :items => @all_items,
            :show_owner => true
    }%>

  </div>
</div>
</section>
