<%
   @title = "Search result"
   @current_nav_item = :marketplace
%>
<section id="content">
<div class="row">
  <%= erb :_sidebar %>
  <div class="span10">
    <h2>Search result</h2>

    <%=erb :_item_list, :locals=>{
            :items => @found_items,
            :show_owner => true
    }%>

  </div>
</div>
</section>
