<div class="span2">
  <div class="well" style="padding: 8px 0;">
    <ul class="nav nav-list">
      <li><a href="<%@HOSTNAME%>/"><i class="icon-home"></i>Marketplace</a></li>
      <li><a href="<%@HOSTNAME%>/all_users"><i class="icon-align-left"></i>All users</a></li>
    </ul>
  </div>
  <% if @current_user %>
  <div style="font-size:0.8em;">
    <p>Logged in as <b><a href='<%= "/profile/"+@current_user.name %>'><%= @current_user.name %></a></b></p>
    <p>Credits: <%= @current_user.credit %></p>
  </div>
  <% end %>
</div>
