<% @title = @LANG["STRONG_PASSWORD"] %>

<section id="content">
  <div class="row">
    <%= erb :_sidebar %>
    <div class="span10" style="maxwidth:600px">
      <%=@LANG["STRONG_PASSWORD_TEXT"]%>

    </div>
  </div>
</section>
