<% @title = "All users" %>

<section id="content">
<div class="row">
  <%= erb :_sidebar %>
  <div class="span10">
    <h1>Users</h1>

    <table class="table">
      <thead>
      <th>Picture</th>
      <th>Name</th>
      <th>Interests</th>
      <th></th>
      <th></th>
      <th></th>
      </thead>
      <tbody>
      <% for user in @users %>
          <tr style="height:72px">

               <td><% if user.image_file_name %>
                     <div style="width:64px;height:64px;background-image: url('<%= "/userimages/"+user.image_file_name %>');
                             background-repeat: no-repeat;
                             background-size: contain;">
                       <!-- only way to scale to height OR width, retaining aspect http://stackoverflow.com/a/10016640/524504-->
                     </div>
                <% end %></td>
            <td><%= erb :_user_link, :locals => {:user => user} %></td>
            <td><%= xss user.about %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
</section>
