<% @title = "All users"
   @current_nav_item = :sellers
%>

<section id="content">
<div class="row">
  <%= erb :_sidebar %>
  <div class="span10">
    <h2>Users</h2>

    <%=erb :_agent_list, :locals=>{:agents => @users}%>

  </div>
</div>
</section>
